@-webkit-keyframes _旋轉{
	0%{-webkit-transform:rotate(0deg);}
	25%{-webkit-transform:rotate(90deg);}
	50%{-webkit-transform:rotate(180deg);}
	75%{-webkit-transform:rotate(270deg);}
	100%{-webkit-transform:rotate(360deg);}
}
[特效~=旋轉]{
    animation:_旋轉 1s linear infinite;
}


[特效~=掃描背景10]{
    transition: background-position 10s;
}
@-webkit-keyframes _自下而上{
	0%{top:2000px}
	100%{top:0px}
}
[特效~=自下而上]{
    animation: _自下而上 10s;
}

@-webkit-keyframes _頭盔特效{
	0%{height: 0px;}
	100%{height: 240px;}
}
[特效~=舟舟頭盔]:after{
    content: ' ';
    animation: _頭盔特效 0.5s;
    display: block;
    position: absolute;
    top: 220px;
    left: 320px;
    height: 240px;
    width: 280px;
    background: #333;
    border-radius: 140px 140px 20px 20px;
}

@-webkit-keyframes _喘氣{
	0%{transform: translateY(0px);}
    50%{transform: translateY(4px);}
	100%{transform: translateY(0px);}
}
[特效~=喘氣]{
    animation:_喘氣 0.7s linear infinite;
}
[特效~=喘氣2]{
    animation:_喘氣 0.2s linear infinite;
}


@-webkit-keyframes _左出{
	0%{transform: translateX(0px); opacity: 1;}
	100%{transform: translateX(-200px); opacity: 0;}
}
[特效~=左出]{
    animation: _左出 1.2s;
    opacity: 0;
}

[特效~=額外視角]:before{
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.8)0%, rgba(0,0,0,0.5)12%,transparent 12%,transparent 85%, rgba(0,0,0,0.7)85%, rgba(0,0,0,0.8)100%);
}

@-webkit-keyframes _爆發{
	0%{filter:brightness(3) blur(15px);}
	100%{filter:brightness(1);}
}
[特效~=爆發]{
    animation: _爆發 1s;
}

@-webkit-keyframes _大爺降落{
	0%{top:-100px}
	100%{top:0px}
}
[特效~=大爺降落]{
    animation: _大爺降落 1s;
}

[特效~=背景可動]{
    transition: background-position 1s;
}
